@keyframes animation-color {
    0% {
        background-color: var(--red-700);
        color: var(--gray-50);
    }

    100% {
        background-color: var(--yellow-500);
        color: var(--gray-900);
    }
}

.animation-color {
    animation: animation-color 3s linear;
}