.main-form {
    width: 600px;
    height: 400px;
    background-color: #e6a120c9;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.centered-formfields {
    margin: 20px;
}


.right {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.centered{
    float: right;
}
