<div class="main-form">
  <fieldset></fieldset>
  <form [formGroup]="form">
    <fieldset>
      <fieldset class="form-group">
        <label for="customRange1" class="form-label">Height range</label>
        <input type="range" min="0" max="2.50" step="0.01" class="form-range" id="customRange1"
          formControlName="height">
        <p>{{form.controls.height.value}} meters</p>
        <label for="customRange1" class="form-label">Weight range</label>
        <input type="range" max="300" class="form-range" id="customRange1" formControlName="weight">
        <p>{{form.controls.weight.value}} kilograms</p>

      </fieldset>
      <div class="right">
        <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
      </div>
    </fieldset>
  </form>
  <span>{{resultado}}</span>
</div>