<div class="main-form">
  {{form?.value | json}}
  {{form?.valid | json}}
  {{form.get('height')?.errors | json}}
  eyyy{{form.get('height')?.hasError('required') | json}}
  <fieldset></fieldset>
  <form [formGroup]="form">
    <fieldset>
      <div class="form-group">
        <label for="exampleInputEmail1" class="form-label mt-4">Height</label>
        <input type="email" class="form-control" id="exampleInputEmail1" formControlName="height"
          aria-describedby="emailHelp" placeholder="Height in cm">
        <span class="text-danger" *ngIf="form.get('height')?.errors && 
            form.get('height')?.hasError('required')">Error q te crio</span>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1" class="form-label mt-4">Weight</label>
        <input type="password" class="form-control" id="exampleInputPassword1" formControlName="weight"
          placeholder="Weight in Kilograms">
        <span class="text-danger" *ngIf="form.get('weight')?.errors && 
          form.get('weight')?.hasError('required')">Error q te crio</span>
      </div>
      <br>
      <fieldset class="form-group">
        <label for="customRange1" class="form-label">Height range</label>
        <input type="range"  min="0" max="2.50" step="0.01" class="form-range" id="customRange1" formControlName="height">
       <p>{{form.controls.height.value}} meters</p>
        <label for="customRange1" class="form-label">Weight range</label>
        <input type="range" max="300" class="form-range" id="customRange1" formControlName="weight">
        <p>{{form.controls.weight.value}} kilograms</p>

      </fieldset>
      <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
    </fieldset>
  </form>
  <span class="text-danger">{{resultado}}</span>
yeoooo{{data && data.height| json}}
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>