<div class="main-card">
    <div class="card mb-3">
        <h3 class="card-header black">{{data.data[0].city_name}}</h3>
        <div class="card-body">
            <h5 class="card-title black">{{data.data[0].weather.description}}</h5>
            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
        </div>
        <img src="assets/bcn.jpg" alt="Kiwi standing on oval">

        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
</div>