<section class="centered">
  <table [ngClass]="customTableClass ? customTableClass : 'table table-dark table-striped'">
    <thead>
      <tr>
        <th scope="col" *ngFor="let column of columnsConfig">{{column.label}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of elementsConfig">
        <td *ngFor="let col of columnsConfig">
          <!-- Switch for adapting the view to the type of column we expect -->
          <ng-container [ngSwitch]="col.type">
            <div *ngSwitchCase=tableColumnTypes.TEXT>
              {{element[col.id]}}
            </div>
            <div *ngSwitchCase=tableColumnTypes.IMAGE class="image-container">
              <img class="avatar-img" src="{{ interpolateImgSource(element.image) }}" (click)="imageClicked(element)" pTooltip="Click to preview">
            </div>
            <div *ngSwitchCase=tableColumnTypes.CHECKBOX>
              <p-checkbox [(ngModel)]="selected" [binary]="true" inputId="binary"></p-checkbox>
            </div>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</section>
