<section>
    <div class="modal-header">
        <h4 class="modal-title">Selected Pokémon</h4>
        <button type="button" class="btn-close" aria-label="Close"></button>
      </div>
    <img [src]="transform()" class="centered">
    <footer class="bottom-buttons">
        <div class="space-between-button">
            <button pButton pRipple type="button" icon="pi pi-check" ngbAutofocus class="p-button-rounded p-button-success" (click)="onSelection(true)"></button>
            <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger" (click)="onSelection(false)"></button>
        </div>
    </footer>
</section>