.centered {
    display: block;
    margin: 20px 40px;
}

.bottom-buttons {
    max-width: 100px;
    margin: 10px 100px
}

.modal-title {
    color: black;
}

.space-between-button {
    display: flex;
    justify-content: space-between;
}