.centered {
    display: block;
    margin: 20px 40px;
}

.bottom-buttons {
    max-width: 100px;
    margin: 10px 100px
}

.modal-title {
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.modal-header {
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}

.space-between-button {
    display: flex;
    justify-content: space-between;
}