.centered {
    width: auto;
    height: auto;
    margin-left: 40px;
}

.bottom-buttons {
    float: right;

}

.space-between-button {
    display: flex;
    justify-content: space-between;
    align-items: center;

}