<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Your IMC results</h4>
  <button type="button" class="btn-close" aria-label="Close"></button>
</div>
<div class="modal-body">
  <div class="mb-3">
    <label for="height">Height</label>
    <p>{{data.height}}</p>

  </div>
  <div class="mb-3">
    <label for="weight">Weight</label>
    <p>{{data.weight}}</p>

  </div>
  <div class="mb-3">
    <label for="imc">IMC</label>
    <p>{{data.bmi}}</p>
  </div>
  <img class="img-fit" src="assets/bmi.png" alt="BMI schema">
</div>
<div class="modal-footer">

  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Save</button>

</div>