<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Your IMC results</h4>
  <button type="button" class="btn-close" aria-label="Close"></button>
</div>
<div class="modal-body">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Height</th>
        <th scope="col">Weight</th>
        <th scope="col">BMI</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of data; index as i">
        <td>{{ user.height }}</td>
        <td>{{ user.weight }}</td>
        <td>{{ user.bmi | number }}</td>
      </tr>
    </tbody>
  </table>
  <img class="img-fit" src="assets/bmi.png" alt="BMI schema">
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="activeModal.close('Close click')">Close</button>
</div>