<div class="main-card">
    <div class="card mb-3">
        <h3 class="card-header black">{{data.city_name}}</h3>
        <div class="card-body">
            <h5 class="card-title black">{{data.weather.description}}</h5>
            <h6 class="card-subtitle text-muted">{{data.city_name}}</h6>
        </div>
        <img class= "picture" src="assets/bcn.jpg" alt="Kiwi standing on oval">
        <ul class="list-group list-group-flush">
            <li class="flex-evenly">
                <span>
                    <fa-icon style="color: orange;" [icon]="faSun"></fa-icon>
                    {{data.sunrise}}
                </span>
                <span>
                    <fa-icon [icon]="faMoon"></fa-icon>
                    {{data.sunset}}
                </span>
            </li>

            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-footer text-muted right-align">
            Rain probability: {{data.precip | percent}}
        </div>
    </div>
</div>