.object {
    position: absolute;
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 2s ease-in-out; /** Firefox **/
    -o-transition: all 2s ease-in-out; /** Opera **/
}

.van {
    top: 15%;
    left: 50%;
}

#axis .move-right{
    transform: translate(0, 110);
    -webkit-transform: translate(0, 110);
    -o-transform: translate(0, 110);
    -moz-transform: translate(0, 110);
}

